/* MOBILE MINICART */
.flexRow--product-list__content--border {
  border-top: 1px solid #000;
  padding-bottom: 15px;
}

.flexRowContent--product-list__content--border {
  height: 120px;
}

.flexRowContent--product-list__main-container {
  height: 100%;
}

.flexColChild--main-container__remove {
  padding-top: 35px;
}

/* MOBILE MINICART*/

.flexRowContent--header-container__search-login-minicart :global(.vtex-button) {
  outline   : none;
  background: none;
}

.flexRowContent--header-container__search-login-minicart .stretchChildrenWidth {
  width: fit-content !important;
}

.flexRowContent--header-container__search-login-minicart :global(.vtex-button__label) {
  padding: 0;
  margin : 0 19px;
}
