.flexCol--container___info {
  text-align : center;
  align-items: center;
}

.flexColChild--container___info {
  width: 80% !important;
}

.flexColChild--container___info :global(.vtex-store-components-3-x-productNameContainer) {
  margin        : 8px 0;
  letter-spacing: 1px;
  font-weight   : 600;
}

.flexColChild--container___info :global(.vtex-product-price-1-x-sellingPrice) {
  font-weight: bold;
}

.flexRowContent--product-intallments :global(.vtex-product-price-1-x-installments)::after {
  content  : "|";
  color    : #bbb;
  font-size: 16px;
  margin   : 0px 5px;
}

.flexColChild--container___info :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) {
  margin: 0;
}

.flexColChild--container___info :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  justify-content: center;
}

.flexColChild--container___info :global(.vtex-product-quantity-1-x-quantitySelectorDropdownMobileContainer) {
  width: fit-content;
}

.flexColChild--container___info :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
  align-items: center;
}

.flexColChild--container___info :global(.vtex-button) {
  width        : 80%;
  background   : black;
  border       : none;
  border-radius: inherit;
}

.flexColChild--container___info :global(.vtex-store-link-0-x-link--button-link__product-one) {
  width          : 80%;
  background     : transparent;
  border         : 1px solid #000;
  border-radius  : inherit;
  text-decoration: underline;
  margin-bottom  : 10px;
}

.flexCol--disclosure__product-info :global(.vtex-disclosure-layout-1-x-trigger) {
  border    : none;
  outline   : none;
  background: none;
  border-top: 1px solid #000;
}

.flexColChild--disclosure__product-info :global(.vtex-disclosure-layout-1-x-trigger) {
  width: 100%;
}

.flexColChild--disclosure__product-info .stretchChildrenWidth {
  align-items: center;
}

.flexColChild--disclosure__product-info :global(.vtex-disclosure-layout-1-x-content) {
  padding: 0 10px;
}

.flexRowContent--product-intallments :global(.vtex-store-link-0-x-link),
.flexRowContent--product-intallments :global(.vtex-product-price-1-x-installments) {
  white-space: nowrap;
}

.flexRowContent--product-intallments {
  justify-content: left;
  flex-wrap      : wrap;
}

@media (min-width: 640px) {
  .flexCol--container___info {
    text-align : left;
    align-items: center;
  }

  .flexColChild--container___info :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
    align-items: flex-start;
  }

  .flexColChild--container___info :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
   .flexRowContent--product__container  {
     padding: 0 2vw;
   }
}
