.trigger--product__disclosure--trigger {
  cursor    : pointer;
  width     : 100%;
  border    : none;
  outline   : none;
  background: none;
  border-top: 1px solid #b0b0b0;
  box-shadow: 0 .2px .5px #888888;
}

.content--product__disclosure--content {
  padding: 0 10px;
}

.content--product__disclosure--content :nth-child(n) {
  font-size: inherit;
  color    : inherit;
}

.content--product__disclosure--content {
  font-size     : 13px !important;
  text-align    : left;
  color         : #000;
  padding-bottom: 5px;
}

.content--product__disclosure--content :global(.vtex-rich-text-0-x-image) {
   width: 20px;
}

.content--product__disclosure--content :global(.vtex-store-components-3-x-productDescriptionTitle),
.content--product__disclosure--content :global(.vtex-product-specifications-1-x-specificationName) {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}
