.buttonLink--home__video--section--one {
  width: auto !important;
  font-size: 14px;
  background: #931505;
  outline: none;
  border: none;
  border-radius: 0;
}

.buttonLink--home__video--section--one:focus{
  background: #931505;
}
