.imageElement--home__image--section--two{
   display: block;
   width: 97%;
   margin: 37px auto 0 auto;
}

.imageElement--home__image--section--five{
   display: block;
   width: 96%;
   margin: 37px auto 0 auto;
}
