/* DESKTOP */

.link--footer__links{
   color: #000 !important;
   font-weight: bold;
   font-size: 15px;
}

.link--footer__links:hover {
  border-bottom: 1px solid #000;
}

.label--footer__links {
   font-size: 13px;
   font-weight: 600;
}

/* MOBILE*/

.link--footer-mobile__links {
   color: #000 !important;
}
