.flexCol--footer-container__info {
  text-align: center;
}

.flexCol--footer-container__menu {
  height: fit-content;
}

.flexCol--footer-container__menu--links {
  padding-top: 20px;
}

.flexCol--footer-container__menu :global(.vtex-menu-2-x-styledLinkContainer) {
  margin-left: 0;
}

.flexCol--footer-mobile-container__menu--links {
    border-bottom: 1px solid #000;
    padding: 10px 5px;
    margin-top: 5px;
}

.flexCol--footer-mobile-container__info {
  text-align: center;
  margin-top: 40px;
}
