/* BANNER TWO*/

/* DESKTOP */

.flexColChild--desktop__banner-tow__video :global(.vtex-store-video-1-x-videoContainer) {
  border: none;
  height: 100%;
}

.flexRowContent--desktop__banner-two {
  background    : #902c1d;
  padding-bottom: 30px;
}

.flexRowContent--desktop__banner-two :nth-child(even) {
  justify-content: flex-start;
}

.flexCol--desktop__banner-info {
  background-image : url("/arquivos/banner-personal-shopper.png");
  background-size  : 100% 100%;
  background-repeat: no-repeat;
  justify-content  : center !important;
  width            : 100%;
  max-width        : 867px !important;
  align-items      : center;
  padding          : 0 6%;
  padding-top      : 40%;
}

@media (min-width: 1500) {
  .flexColChild--desktop__banner-info :global(.vtex-store-link-0-x-label) {
    font-size: 15px !important;
  }

  .flexColChild--desktop__banner-info :global(.vtex-rich-text-0-x-paragraph) {
    font-size: 20px;
  }
}

/* MOBILE */

.flexRowContent--mobile__banner-two {
  background    : #902c1d;
  padding-top   : 30px;
  padding-bottom: 13px;
}

.flexRow--mobile__banner-two :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexColChild--banner-tow__video :global(.vtex-store-video-1-x-videoContainer) {
  border: none;
}

.flexColChild--banner-tow__video :global(.vtex-store-video-1-x-videoContainer) {
  height   : 300px;
  width    : 90vw !important;
  max-width: 388px !important;
}

.flexCol--mobile__banner-info {
  background-image : url("/arquivos/background-infocard-velez-mobile.png");
  background-size  : 100% 100%;
  background-repeat: no-repeat;
  justify-content  : center !important;
  width            : 90vw;
  max-width        : 388px !important;
  align-items      : center;
  height           : 311px;
  padding          : 0 6%;
  padding-top      : 10%;
}

.flexRowContent--mobile__banner-two :last-child {
  justify-content: flex-start;
}

@media (min-width: 640px) and (max-width: 1025px) {

  /* BANNER TWO */

  .flexCol--banner-container {
    flex-direction: row;
    padding-right : 3vw;
    height        : 364px;
  }

  .flexColChild--mobile__banner-info :global(.vtex-rich-text-0-x-container) {
    font-size: 16px !important;
  }

  .flexColChild--mobile__banner-info :global(.vtex-store-link-0-x-label) {
    font-size: 14px;
  }

  .flexColChild--banner-container {
    width: 50% !important;
  }

  .flexColChild--banner-tow__video :global(.vtex-store-video-1-x-videoContainer) {
    width    : 100% !important;
    max-width: 100% !important;
    height   : 100%;
  }

  .flexCol--mobile__banner-info {
    width : 100% !important;
    height: 100%;
  }
}
