.wrapper--home__rich-text--section--four {
  border-left : groove;
  border-right: groove;
  margin: 40px 0 5px 0;
  padding     : 1vw;
}

.wrapper--home__rich-text--section--seven{
   margin-top: 30px;
}
