.headerRowBackground--header__banner--top--mobile {
  background: #3b493f;
}

.headerRowContentContainer--header__banner--top--mobile {
  height: 3rem;
}

/* DESKTOP */

.headerRowBackground--header__banner-top {
  background: #3b493f;
  height    : 30px;
}

.headerRowContainer--header__banner-top {
  justify-content: center;
}
