.menuItem--submenu__department--items .submenuContainer,
.submenu--menu__submenu--department {
  display: contents;
}

.menuItem--submenu__department--items .submenuWrapper .submenu {
  display: contents;
}

.submenu--menu__submenu--department .menuContainerNav {
  min-width: 34%;
  position : relative;
}

.menuItem--submenu__department--items .submenuWrapper {
  top       : 0;
  left      : 53%;
  border    : none;
  padding   : 0;
  background: transparent;
}

.styledLinkContent--link_menu_departments {
  font-weight: bold;
}

.menuContainer--submenu__department--items {
  width       : 50%;
  min-height      : 54vh;
  border-right: 2px solid #ccc;
  overflow: hidden;
}

.styledLinkContent--submenu__department--items {
  white-space: normal;
}
