.openIconContainer--header__bottom--minicat {
  padding: 0;
  width  : 25px;
}

.openIconContainer--header__bottom--minicat :global(.vtex-button__label) {
  padding: 0;
  margin: 0;
}

.minicartQuantityBadge--header__bottom--minicat {
  background: transparent;
  color     : black;
}

.minicartProductListContainer {
  padding: 17px;
}

.minicartIconContainer--header__bottom--minicat :global( .vtex-store-icons-0-x-cartIcon) {
  width: fit-content;
}

/* DESKTOP */

.minicartContainer--header__bottom--minicat :global(.vtex-button__label ) {
   margin: 0;
}
