.submenuWrapper--menu__submenu--department {
  background    : #fff;
  padding-bottom: 0;
}

.menuItem--submenu__department--items .submenuContainer,
.submenu--menu__submenu--department {
  display: contents;
}

.menuItem--submenu__department--items .submenuWrapper .submenu {
  display: contents;
}

.submenu--menu__submenu--department .menuContainerNav {
  min-width: 34%;
  position : relative;
}

.menuItem--submenu__department--items .submenuWrapper {
  top       : 0;
  left      : 53%;
  border    : none;
  padding   : 0;
  background: transparent;
}

.styledLinkContent--link_menu_departments {
  font-weight: bold;
}

.menuContainer--submenu__department--items {
  width       : 50%;
  min-height  : 54vh;
  border-right: 2px solid #ccc;
  overflow    : hidden;
}

.styledLinkContent--submenu__department--items {
  white-space: normal;
}

.menuContainerNav--submenu__department--items--credit {
  width       : 98%;
  border-right: 1px solid #ccc;
  min-height  : 50vh;
  margin-right: 2vw;
}
