.headerRowBackground--header__banner--top--mobile {
  background: #852314;
}

.headerRowContainer--mobile__haeder-bottom {
  justify-content: center;
}

.headerRowContainer--mobile__haeder-bottom :global(.vtex-flex-layout-0-x-flexRow) {
   width: 95%;
}

.headerRowContainer--mobile__haeder-bottom :global(.vtex-flex-layout-0-x-flexRowContent) {
  align-items: center;
}

/* DESKTOP */

.headerRowBackground--banner__top {
  background: #852314;
  height    : 30px;
}

.headerRowContainer--banner__top {
  justify-content: center;
}

.headerRowContainer--header__bottom--desktop :global(.vtex-flex-layout-0-x-flexRow) {
   width: 100%;
}
