.flexRowContent--mobile__options-container :global(.vtex-button__label) {
  padding: 0;
  margin : 0 10px;
}

/* DESKTOP */

.flexRowContent--banner__top :nth-child(2n)::before {
  content     : '|';
  color       : white;
  font-size   : 15px;
  margin-right: 1vw;
  margin-left : 1vw;
}

.flexRow--menu__submenu--department {
   padding: 0 2vw;
}

.flexRowContent--header__bottom--desktop .stretchChildrenWidth {
  align-items    : center;
  justify-content: center;
  text-align     : center;
  align-self     : center;
}

.flexRowContent--header__bottom--menu :global(.vtex-menu-2-x-styledLinkContainer) {
  margin: 0 8px;
}

.flexRowContent--header__bottom--container .stretchChildrenWidth {
  width: fit-content !important;
}

.flexRowContent--header__bottom--container :global(.vtex-button__label) {
  padding: 0;
  margin : 0 19px;
}

.flexCol--flex__menu--departments {
  width     : 65% !important;
  text-align: center;
}

.flexRowContent--menu__submenu--department .stretchChildrenWidth {
  min-height : 50vh !important;
  text-align : start;
  align-items: flex-start;
}

.flexCol--flex__menu--departments--links {
   min-height: 54vh;
}

@media screen and (min-width: 40em) {
   .flexRow--header__bottom--desktop :global(.vtex-store-components-3-x-container) {
      padding: 0;
   }
}
