.flexRowContent--banner__top .stretchChildrenWidth {
  text-align: center;
  font-size : 13px;
  width     : auto !important;

}

.flexRowContent--banner__top :nth-child(2n)::before {
  content     : '|';
  color       : white;
  font-size   : 15px;
  margin-right: 1vw;
  margin-left : 1vw;
}

.flexRow--header__bottom--desktop {
  width: 100%;
}

.flexRowContent--header__bottom--container .stretchChildrenWidth {
  width: fit-content !important;
}

.flexRowContent--header__bottom--desktop .stretchChildrenWidth:nth-child(even) {
  text-align: center;
  align-self: center;
}

.flexRowContent--menu__submenu--department .stretchChildrenWidth:nth-child(even) {
  align-self: flex-start;
}

.flexRow--menu__submenu--department {
  min-height  : 55vh;
  padding-left: 26px;
  padding-top : 11px;
}

.flexCol--flex__menu--departments {
  align-items: center;
  padding-top: 4px;
}

.flexColChild--flex__menu--departments {
  width      : 57%;
  align-items: center;
  text-align : center;
}

.flexColChild--flex__menu--departments.link {
  color: #000;
}

.flexColChild--flex__menu--departments--links {
  height: auto !important;
}
