/* MOBILE */

.flexRowContent--mobile__options-container :global(.vtex-button__label) {
  padding: 0;
  margin : 0 10px;
}

.flexRowContent--mobile__options-container .stretchChildrenWidth {
  width: 7vw !important;
}

.flexRowContent--mobile__options-container :global(.vtex-button) {
  outline   : none;
  background: #fff;
}

/* DESKTOP */

@media screen and (min-width: 40em) {
  .flexRow--desktop__header-bottom :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}
