.logoContainer {
  padding: 0;
}

/* DESKTOP */

.autoCompleteOuterContainer--header__bottom--search :global(.vtex-input-prefix__group) {
  border       : none;
  border-radius: 0;
}

.autoCompleteOuterContainer--header__bottom--search :global(.vtex-styleguide-9-x-input) {
  border-bottom : 1px solid black;
  font-size     : 13px;
  padding-bottom: 5px;
  padding-left  : 9px;
  align-self    : flex-end;
  width         : 15vw;
}

.autoCompleteOuterContainer--header__bottom--search :global(.vtex-input__suffix) {
  padding: 0;
}

.searchBarIcon--header__bottom--search--search {
  padding: 0;
}
