/* MOBILE MENU*/

.menuContainerNav--mobile__header-menu {
  width: 100% !important;
}

.styledLinkContent--mobile__header-menu {
  white-space: normal !important;
}

.menuItem--mobile__submenu-item--isOpen {
  left: 0;
  top : 0;
}

.menuItem--mobile__menu-item--isOpen {
  position          : absolute;
  background        : #fff;
  width             : 100%;
  height            : 100%;
  animation-name    : menuItem--mobile__menu-item--isOpen;
  animation-duration: .2s;
}

@keyframes menuItem--mobile__menu-item--isOpen {
  0% {
    left: -50%;
  }

  100% {
    left: 0;
  }
}

.accordionIcon--isClosed {
  visibility: hidden;
  font-size : 0;
}

.accordionIcon--isClosed::after {
  content    : ">";
  font-size  : 21px;
  font-weight: bold;
  color      : #000;
  visibility : initial;
}

.accordionIcon--mobile__menu-item--isOpen {
  visibility: hidden;
  font-size : 0;
}

.accordionIcon--mobile__menu-item--isOpen::after {
  content    : "<";
  font-size  : 21px;
  font-weight: bold;
  color      : #000;
  visibility : initial;
}

.menuItem--mobile__menu-item {
  -webkit-tap-highlight-color: transparent;
}

.menuItem--mobile__menu-item--isOpen .menuItemInnerDiv--mobile__menu-item {
  background: #ccc;
}

.menuItem--mobile__menu-item--isClosed .menuItemInnerDiv--mobile__menu-item {
  background: #fff;
}

.menuItem--mobile__menu-item--isClosed :last-child {
  display: none;
}

.menuItemInnerDiv--mobile__menu-item :nth-child(n) {
  display        : flex;
  justify-content: space-between;
  width          : 95%;
  align-items    : center;
}

/* DESKTOP MENU */

.submenuWrapper--menu__submenu--department {
  background    : #fff;
  padding-bottom: 0;
}

.menuItem--submenu__department--items .submenuContainer,
.submenu--menu__submenu--department {
  display: contents;
}

.menuItem--submenu__department--items .submenuWrapper .submenu {
  display: contents;
}

.submenu--menu__submenu--department .menuContainerNav {
  min-width: 34%;
  position : relative;
}

.menuItem--submenu__department--items .submenuWrapper {
  top       : 0;
  left      : 53%;
  border    : none;
  padding   : 0;
  background: transparent;
}

.styledLinkContent--link_menu_departments {
  font-weight: bold;
}

.menuContainer--submenu__department--items {
  width       : 50%;
  min-height  : 54vh;
  border-right: 2px solid #ccc;
  overflow    : hidden;
}

.styledLinkContent--submenu__department--items {
  white-space: normal;
}

.menuContainerNav--submenu__department--items--credit {
  width       : 98%;
  border-right: 1px solid #ccc;
  min-height  : 50vh;
  margin-right: 2vw;
}
