/* GLOBAL */

.link {
  text-decoration: none;
  color          : #fff;
  width          : auto;
  text-align: center;
  align-self: center;
  font-size: 13px;
}

/* DESKTOP */

.link--link_menu_departments {
  color    : #000;
  font-size: 15px;
  font-weight: bold;
}

