/* MOBILE */

/* BANNER ONE */

.flexRowContent--mobile__banner-one {
  padding: 20px 0;
}

.flexRow--mobile__banner-one {
  background: #902c1d;
}

.flexCol--banner__container {
  position  : relative;
  align-self: center;
  height    : 600px;
}

.flexCol--banner__container .flexColChild--banner__container:first-child {
  align-self: center;
  height    : 100%;
  width     : 100%;
}

.flexCol--banner__container :global(.vtex-store-components-3-x-imageElement) {
  height: 100%;
  width : 100%;
}

.flexCol--banner__container .flexColChild--banner__container:last-child {
  position: absolute;
  bottom  : 0;
  height  : auto !important;
}

.flexColChild--container__text-button :global(.vtex-rich-text-0-x-heading) {
  text-align: center;
  font-size : 16px;
}

.flexColChild--container__text-button :global(.vtex-store-link-0-x-buttonLink) {
  background    : #fff;
  color         : #902c1d;
  border        : none;
  font-size     : 10px;
  border-radius : 0;
  text-transform: lowercase;
  outline       : none;
}

.flexCol--container__text-button {
  align-items: center;
  width      : 90%;
  margin     : 0 auto;
}

@media (min-width: 401px) and (max-width: 639px) {

  /* BANNER ONE */

  .flexCol--banner__container .flexColChild--banner__container:first-child {
    width: 70%;
  }

  .flexCol--container__text-button {
    width: 65%;
  }

  .flexCol--banner__container {
    height: 700px;
  }
}

@media (min-width: 670px) and (max-width: 1024px) {

  /* BANNER ONE */

  .flexCol--banner__container .flexColChild--banner__container:first-child {
    width: 60%;
  }

  .flexCol--container__text-button {
    width         : 58%;
    padding-bottom: 40px;
  }

  .flexCol--banner__container {
    height: 1200px;
  }

  .flexColChild--container__text-button :global(.vtex-rich-text-0-x-heading) {
    font-size: 27px;
  }

  .flexColChild--container__text-button :global(.vtex-store-link-0-x-buttonLink) {
    font-size: 20px;
  }
}
