/* MOBILE */

/* BANNER ONE */

.flexRowContent--mobile__banner-one {
  padding: 20px 0;
}

.flexRow--mobile__banner-one {
  background: #902c1d;
}

.flexCol--banner__container {
  position  : relative;
  align-self: center;
  height    : 736px;
  text-align: center;
}

.flexCol--banner__container .flexColChild--banner__container:first-child {
  align-self: center;
  height    : 100%;
  width     : 100%;
}

.flexCol--banner__container :global(.vtex-store-components-3-x-imageElement) {
  height: 100%;
  width : 100%;
}

.flexCol--banner__container .flexColChild--banner__container:last-child {
  position: absolute;
  bottom  : 0;
  height  : auto !important;
}

.flexColChild--container__text-button :global(.vtex-rich-text-0-x-heading) {
  text-align   : center;
  font-size    : 16px;
  padding-left : 16vw;
  padding-right: 12vw;
}

.flexColChild--container__text-button :global(.vtex-store-link-0-x-buttonLink) {
  background    : #fff;
  color         : #902c1d;
  border        : none;
  font-size     : 10px;
  border-radius : 0;
  text-transform: lowercase;
  outline       : none;
}

.flexCol--container__text-button {
  align-items: center;
  max-width  : 384px;
  margin     : 0 auto;
  margin-bottom: 20px !important;
}

@media (min-width: 640px) and (max-width: 1025px) {

  /* BANNER ONE */
  .flexColChild--container__text-button :global(.vtex-rich-text-0-x-heading) {
    padding-left : 3vw;
    padding-right: 1vw;
  }

  .flexColChild--container__text-button :global(.vtex-rich-text-0-x-heading) {
    font-size: 16px;
  }

  .flexColChild--container__text-button :global(.vtex-store-link-0-x-buttonLink) {
    font-size: 14px;
  }
}
