.sliderLeftArrow--our-legacy__artisans--slider-global,
.sliderRightArrow--our-legacy__artisans--slider-global {
   display: none;
}

.sliderLayoutContainer--our-legacy__artisans--slider-global {
   padding: 0 !important;
}

.imageElement--our-legacy__artisans--slider {
   width: 85% !important;
}

.sliderRightArrow,
.sliderLeftArrow {
   margin : 0;
   padding: 0;
}

.sliderLeftArrow--our-legacy__objectives,
.sliderRightArrow--our-legacy__objectives {
   margin-bottom: 70px;
}

.sliderLayoutContainer--our-legacy__artisans--slider {
   margin-bottom: 20px;
}

.sliderLayoutContainer--our-legacy__artisans--slider-global {
   margin-bottom: 45px;
}

.slideChildrenContainer--our-legacy__artisans--slider-global {
   margin: 10px;
}

.sliderLayoutContainer--our-legacy__objectives { 
   padding: 0 24px !important;
}
